In [1]:
import json
import os
import numpy as np

root = os.getcwd()
root = os.path.dirname(root)
import pandas as pd

os.chdir(os.path.join(root, "src", "utils"))
from aka import tri2name, tri2aka

covotes = pd.read_csv(os.path.join(root, "constructed_network", "covotes.csv"), index_col=0)
UN_countries = covotes.columns
# contravotes = pd.read_csv(os.path.join(root, "network_data", "contravotes.csv"), index_col=0)


# prefriendshipgraph = pd.read_csv(os.path.join(root, "network_data", "pre_friends_network_75.csv"), index_col=0)
# preenemyshipgraph = pd.read_csv(os.path.join(root, "network_data", "pre_enemies_network_75.csv"), index_col=0)
# alliancegraph = pd.read_csv(os.path.join(root, "network_data", "alliances_network.csv"), index_col=0)
# friendshipgraph = pd.read_csv(os.path.join(root, "network_data", "friends_network_75.csv"), index_col=0)
# enemyshipgraph  = pd.read_csv(os.path.join(root, "network_data", "enemies_network_75.csv"), index_col=0)


# pca_prefriends = pd.read_csv(os.path.join(root, "network_data", "pca_prefriends.csv"), index_col=0)
# pca_preenemies = pd.read_csv(os.path.join(root, "network_data", "pca_preenemies.csv"), index_col=0)
# pca_friends = pd.read_csv(os.path.join(root, "network_data", "pca_friends.csv"), index_col=0)
# pca_enemies  = pd.read_csv(os.path.join(root, "network_data", "pca_enemies.csv"), index_col=0)

['Y AFGHANISTAN\n', 'A ALBANIA\n', 'Y ALGERIA\n', 'A ANDORRA\n', 'Y ANGOLA\n', 'Y ANTIGUA AND BARBUDA\n', 'Y ARGENTINA\n', 'A ARMENIA\n', 'N AUSTRALIA\n', 'N AUSTRIA\n']

In [2]:
# wto = pd.read_csv(os.path.join(root, "WTO_trade_data", "WTO_trade_data2.csv"), encoding='latin-1')
wto = pd.read_csv(os.path.join(root, "raw_data", "WTO_trade_data", "balanced_export.csv"), encoding='latin-1')

C:\Users\y.lin\AppData\Local\Temp\ipykernel_20328\3208529486.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  wto = pd.read_csv(os.path.join(root, "raw_data", "WTO_trade_data", "balanced_export.csv"), encoding='latin-1')

In [3]:
# set(wto["Partner Economy"])

In [4]:

from_countries = wto["Reporting Economy ISO3A Code"]
# countries = wto["Reporting Economy"]
to_countries = wto["Partner Economy ISO3A Code"]

In [5]:
from_to_countries = set(from_countries).union(to_countries)

In [6]:
from_to_countries = sorted(c for c in from_to_countries if not pd.isna(c))

In [7]:
from_to_countries

['ABW',
 'AFG',
 'AGO',
 'AIA',
 'ALB',
 'ARE',
 'ARG',
 'ARM',
 'ATG',
 'AUS',
 'AUT',
 'AZE',
 'BDI',
 'BEL',
 'BEN',
 'BFA',
 'BGD',
 'BGR',
 'BHR',
 'BHS',
 'BIH',
 'BLR',
 'BLZ',
 'BMU',
 'BOL',
 'BRA',
 'BRB',
 'BRN',
 'BTN',
 'BWA',
 'CAF',
 'CAN',
 'CHE',
 'CHL',
 'CHN',
 'CHT',
 'CIV',
 'CMR',
 'COD',
 'COG',
 'COL',
 'COM',
 'CPV',
 'CRI',
 'CUB',
 'CUW',
 'CYM',
 'CYP',
 'CZE',
 'DEU',
 'DJI',
 'DMA',
 'DNK',
 'DOM',
 'DZA',
 'ECU',
 'EEC',
 'EGY',
 'ERI',
 'ESP',
 'EST',
 'ETH',
 'FIN',
 'FJI',
 'FRA',
 'FRO',
 'GAB',
 'GBR',
 'GEO',
 'GHA',
 'GIN',
 'GMB',
 'GNB',
 'GNQ',
 'GRC',
 'GRD',
 'GTM',
 'GUY',
 'HKG',
 'HND',
 'HRV',
 'HTI',
 'HUN',
 'IDN',
 'IND',
 'IRL',
 'IRN',
 'IRQ',
 'ISL',
 'ISR',
 'ITA',
 'JAM',
 'JOR',
 'JPN',
 'KAZ',
 'KEN',
 'KGZ',
 'KHM',
 'KIR',
 'KNA',
 'KOR',
 'KWT',
 'LAO',
 'LBN',
 'LBR',
 'LBY',
 'LCA',
 'LKA',
 'LSO',
 'LTU',
 'LUX',
 'LVA',
 'MAC',
 'MAR',
 'MDA',
 'MDG',
 'MDV',
 'MEX',
 'MKD',
 'MLI',
 'MLT',
 'MMR',
 'MNE',
 'MNG',
 'MOZ',
 'MRT',
 'MSR',
 'MUS',
 'MWI',
 'MYS',
 'NAM',
 'NCL',
 'NER',
 'NGA',
 'NIC',
 'NLD',
 'NOR',
 'NPL',
 'NZL',
 'OMN',
 'PAK',
 'PAN',
 'PER',
 'PHL',
 'PNG',
 'POL',
 'PRK',
 'PRT',
 'PRY',
 'PSE',
 'PYF',
 'QAT',
 'ROM',
 'RUS',
 'RWA',
 'SAU',
 'SDN',
 'SEN',
 'SGP',
 'SLB',
 'SLE',
 'SLV',
 'SOM',
 'SRB',
 'STP',
 'SUR',
 'SVK',
 'SVN',
 'SWE',
 'SWZ',
 'SXM',
 'SYC',
 'SYR',
 'TCA',
 'TCD',
 'TGO',
 'THA',
 'TJK',
 'TKM',
 'TLS',
 'TON',
 'TTO',
 'TUN',
 'TUR',
 'TUV',
 'TZA',
 'UGA',
 'UKR',
 'URY',
 'USA',
 'UZB',
 'VCT',
 'VEN',
 'VNM',
 'VUT',
 'WSM',
 'XKX',
 'YEM',
 'ZAF',
 'ZMB',
 'ZWE']

In [8]:
wto

,Indicator Category,Indicator Code,Indicator,Reporting Economy Code,Reporting Economy ISO3A Code,Reporting Economy,Partner Economy Code,Partner Economy ISO3A Code,Partner Economy,Product/Sector Classification Code,...,Period,Frequency Code,Frequency,Unit Code,Unit,Year,Value Flag Code,Value Flag,Text Value,Value
0,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,4,AFG,Afghanistan,8,ALB,Albania,BOP6,...,Annual,A,Annual,USM,Million US dollar,2020,NaN,NaN,NaN,0.105778
1,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,4,AFG,Afghanistan,8,ALB,Albania,BOP6,...,Annual,A,Annual,USM,Million US dollar,2021,NaN,NaN,NaN,0.148853
2,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,4,AFG,Afghanistan,8,ALB,Albania,BOP6,...,Annual,A,Annual,USM,Million US dollar,2016,NaN,NaN,NaN,0.100178
3,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,4,AFG,Afghanistan,8,ALB,Albania,BOP6,...,Annual,A,Annual,USM,Million US dollar,2017,NaN,NaN,NaN,0.055196
4,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,4,AFG,Afghanistan,8,ALB,Albania,BOP6,...,Annual,A,Annual,USM,Million US dollar,2018,NaN,NaN,NaN,0.107347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4100701,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,...,Annual,A,Annual,USM,Million US dollar,2020,NaN,NaN,NaN,39078.203125
4100702,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,...,Annual,A,Annual,USM,Million US dollar,2019,NaN,NaN,NaN,43402.320313
4100703,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,...,Annual,A,Annual,USM,Million US dollar,2018,NaN,NaN,NaN,41977.792969
4100704,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,...,Annual,A,Annual,USM,Million US dollar,2017,NaN,NaN,NaN,35547.734375
4100705,Balanced International Trade in Services EBOPS...,BAT_BV_X,Services exports: balanced values,918,EEC,European Union,EUT,NaN,Extra EU Trade,BOP6,...,Annual,A,Annual,USM,Million US dollar,2016,NaN,NaN,NaN,31708.341797

In [9]:
wto.loc[100]

Indicator Category                    Balanced International Trade in Services EBOPS...
Indicator Code                                                                 BAT_BV_X
Indicator                                             Services exports: balanced values
Reporting Economy Code                                                                4
Reporting Economy ISO3A Code                                                        AFG
Reporting Economy                                                           Afghanistan
Partner Economy Code                                                                  8
Partner Economy ISO3A Code                                                          ALB
Partner Economy                                                                 Albania
Product/Sector Classification Code                                                 BOP6
Product/Sector Classification         Services - Extended Balance of Payments Classi...
Product/Sector Code                                                                SPX4
Product/Sector                                                   Goods-related services
Period Code                                                                           A
Period                                                                           Annual
Frequency Code                                                                        A
Frequency                                                                        Annual
Unit Code                                                                           USM
Unit                                                                  Million US dollar
Year                                                                               2017
Value Flag Code                                                                     NaN
Value Flag                                                                          NaN
Text Value                                                                          NaN
Value                                                                               0.0
Name: 100, dtype: object

In [10]:
# try python loop. if too slow, then try other method
def process_row(row=wto.loc[100]):
    therefrom = row['Reporting Economy ISO3A Code']
    thereto = row['Partner Economy ISO3A Code']
    value = row['Value']
    if therefrom in bilateral.index and thereto in bilateral.columns:
        bilateral.loc[therefrom, thereto] = value

In [11]:
# pivot_df = wto.pivot_table(index='Reporting Economy', columns='Partner Economy', values='Value', aggfunc='sum', fill_value=0)
# pivot_df = wto.pivot_table(index='Reporting Economy ISO3A Code', columns='Partner Economy ISO3A Code', values='Value', aggfunc='sum', fill_value=0)

In [12]:
pivot_df2 = wto.pivot_table(index=["Reporting Economy ISO3A Code", "Partner Economy ISO3A Code", "Year"], values="Value", aggfunc='sum', fill_value=0)

In [13]:
pivot_df = pivot_df2.pivot_table(index="Reporting Economy ISO3A Code", columns=["Partner Economy ISO3A Code"], values="Value", aggfunc='mean', fill_value=0)

In [14]:
pivot_df

Partner Economy ISO3A Code,ABW,AFG,AGO,AIA,ALB,ARE,ARG,ARM,ATG,AUS,...,VCT,VEN,VNM,VUT,WSM,XKX,YEM,ZAF,ZMB,ZWE
Reporting Economy ISO3A Code,,,,,,,,,,,,,,,,,,,,,
ABW,0.000000,0.632396,5.568701,0.444184,0.515156,25.380979,10.493197,0.821170,0.811215,73.484460,...,1.002329,15.891757,8.611578,0.132829,0.531899,0.960625,0.624656,16.492579,0.795598,0.662124
AFG,0.373052,0.000000,8.004936,0.060222,0.413651,76.631854,2.944471,1.908875,0.227416,43.416464,...,0.116263,4.185280,16.233528,0.098832,0.130329,0.517422,1.905908,10.756623,0.983409,0.656950
AGO,1.244482,2.210171,0.000000,0.142509,0.186664,121.623400,2.440269,2.958066,0.638807,68.703841,...,0.207035,10.878849,24.796954,0.200509,0.155861,0.273709,5.335073,41.656015,8.933755,3.170296
AIA,0.267753,0.133357,1.373980,0.000000,0.064747,5.128149,1.631484,0.750946,0.385536,7.599651,...,0.253681,2.343031,1.764445,0.086137,0.104283,0.137141,0.158033,0.581469,0.164440,0.126737
ALB,0.432036,0.881766,7.309918,0.023772,0.000000,72.288532,1.757658,2.640363,0.342167,29.580524,...,0.011789,2.586579,2.715846,0.127008,0.014409,1316.048777,0.325471,7.495022,0.291021,0.116611
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,0.733737,1.337833,8.323207,0.028163,484.995636,76.446430,9.322127,2.836764,0.191051,22.739184,...,0.239685,4.638895,10.597879,0.118220,0.016278,0.000000,3.202683,10.246362,1.824276,1.133779
YEM,0.180054,0.726806,6.631566,0.084780,0.023717,72.256566,0.425229,0.113813,0.148745,7.751888,...,0.013146,0.513467,3.561652,0.050346,0.189835,1.086141,0.000000,1.850946,0.104115,0.024429
ZAF,12.442513,12.749567,180.512103,0.191219,4.227339,731.988259,92.073219,9.418984,7.849405,1305.207908,...,3.167978,27.720588,150.582086,1.184374,3.133255,11.871612,17.733130,0.000000,121.589735,131.413747
ZMB,0.418839,0.768292,14.427327,0.174093,0.076941,31.578218,1.044261,0.327348,0.279852,22.431989,...,0.324414,0.350794,6.940687,0.113454,0.446947,0.874268,0.903256,41.828041,0.000000,14.251257
ZWE,0.262931,0.510682,6.294283,0.098897,0.113323,21.373257,0.810809,1.803452,0.185328,6.818800,...,0.026315,0.825339,2.058111,0.077684,0.293237,0.553257,0.133593,63.834199,5.790848,0.000000

In [15]:
pivot_df.rename({"MMR":"MYR", "ROM":"ROU"}, axis=0, inplace=True)
pivot_df.rename({"MMR":"MYR", "ROM":"ROU"}, axis=1, inplace=True)

In [16]:
# missing countries
# for c in set(UN_countries).difference(set(pivot_df.index)):
#     print(tri2name[c])

In [17]:
# with open(os.path.join(root, "raw_data", "GDP_data", "GDP_data.json")) as f:
#     GDP = eval(f.read())

In [18]:
# # retrive the countries that doesn't have GDP data
# to_drop = []
# for c in pivot_df.columns:
#     try:
#         GDP[c]
#     except KeyError:
#         print(c)
#         to_drop.append(c)

In [19]:
# for c in to_drop:
#     pivot_df.drop(c, axis=1, inplace=True) if c in pivot_df.columns else None
#     pivot_df.drop(c, axis=0, inplace=True) if c in pivot_df.index   else None

In [20]:
pivot_df.drop("VAT", axis=1, inplace=True) if "VAT" in pivot_df.columns else None
pivot_df.drop("EEC", axis=1, inplace=True) if "EEC" in pivot_df.columns else None
pivot_df.drop("CHT", axis=1, inplace=True) if "CHT" in pivot_df.columns else None

pivot_df.drop("VAT", axis=0, inplace=True) if "VAT" in pivot_df.index else None
pivot_df.drop("EEC", axis=0, inplace=True) if "EEC" in pivot_df.index else None
pivot_df.drop("CHT", axis=0, inplace=True) if "CHT" in pivot_df.index else None

In [21]:
# see how many empty values we got
print("total number of zero trade is ", (pivot_df == 0).sum().sum())
print("percentage-wise it is", (pivot_df == 0).sum().sum()/ (pivot_df.shape[0]**2)*100, "%")

total number of zero trade is  220
percentage-wise it is 0.555541526729123 %

In [22]:
# total = set(pivot_df.columns)
# given = set(pivot_df.index)
# unknown = total.difference(given)

In [23]:
# We only consider UN countries that are also in the WTO dataset
countries = sorted(set(UN_countries).intersection(set(pivot_df.columns)))
pivot_df = pivot_df.loc[countries, countries]

In [24]:
# check for zero trade flows. Only those involving PRK (north korea)
for c in countries:
    for cc in countries:
        if pivot_df.loc[c, cc] == 0:
            print(c, cc) if c < cc else None

ALB PRK
BIH PRK
LTU PRK
LUX PRK
LVA PRK
MNE PRK
PRK SRB
PRK SVK

In [25]:
def create_trade(pivot_df, perc, over=True):
    pivot_ratio_df = pivot_df.div(pivot_df.sum(axis=1), axis=0)
    mask = np.eye(pivot_ratio_df.shape[0], pivot_ratio_df.shape[1], dtype=bool)
    data = pivot_ratio_df.to_numpy()[~mask]
    threshold_percent = perc
    threshold = np.percentile(data, threshold_percent)
    if over:
        trade_overunder = pivot_ratio_df.applymap(lambda x: 1 if x>=threshold else 0)
    else:
        trade_overunder = pivot_ratio_df.applymap(lambda x:1 if x<threshold else 0)
    return trade_overunder

In [26]:
trade_over80 = create_trade(pivot_df, 80, over=True)
trade_over90 = create_trade(pivot_df, 90, over=True)

trade_under20 = create_trade(pivot_df, 20, over=False)
trade_under10 = create_trade(pivot_df, 10, over=False)


trans_trade_over80 = create_trade(pivot_df.T, 80, over=True)
trans_trade_over90 = create_trade(pivot_df.T, 90, over=True)

trans_trade_under20 = create_trade(pivot_df.T, 20, over=False)
trans_trade_under10 = create_trade(pivot_df.T, 10, over=False)

In [27]:
(pivot_df==0).sum().sum()

203

In [28]:
# wto

In [29]:
# make sure the trigraphs are consistent with ISO
# ISO3A = dict(zip(wto["Partner Economy ISO3A Code"], wto["Partner Economy"]))

In [30]:
# for tri, cname in ISO3A.items():
#     try:
#         print(f"ISO3A tri={tri}\nISO3A name  ={cname}\nmy trigraph ={tri2name[tri]}")
#     except KeyError:
#         print(f"{tri} is not found in my trigraphs----------------------------------")

In [31]:
## Result :
# CHT chinese taipei not present in UN country
# ROM romania in ISO code but ROU in my trigraph  => c
# EEC europeans union in ISO code but not in UN country

In [32]:
# pd.set_option('display.max_rows', 10)
# pivot_df.sum().sort_values(ascending=False)

In [33]:
# make a percentage-based pivot table.
# Each row is 
pivot_ratio_df = pivot_df.div(pivot_df.sum(axis=1), axis=0)

In [34]:
# import matplotlib.pyplot as plt
# import numpy as np

# percentiles_to_draw = [10, 20, 80, 90]

# # percentiles_to_draw = [10, 20, 30, 40]

# percentiles = np.percentile(pivot_ratio_df.to_numpy().flatten(), percentiles_to_draw)
# pivot_percentiles = dict(zip(percentiles_to_draw, percentiles))


# # Add vertical lines and annotations for percentiles
# for i, p in enumerate(percentiles):
#     plt.axvline(p, color='r', linestyle='--', linewidth=2)
#     plt.text(p, 50, f'{percentiles_to_draw[i]}\% {p:.2f}', color='r', rotation=90, verticalalignment='bottom')

# # Add labels and title
# plt.xlabel('Value')
# plt.ylabel('Frequency')

# show_up_to_percentile= 95

# # plot histogram up to certain percentile
# data = pivot_ratio_df.to_numpy()
# mask = np.eye(data.shape[0], data.shape[1], dtype=bool)
# data = data[~mask]
# filtered_data = data[data <= np.percentile(data, show_up_to_percentile)]
# plt.hist(filtered_data, bins=15)

# plt.title('')

In [35]:
# def make_symmetric(df):
#     return (df + df.T)>=1

# threshold_percent = 90
# threshold = np.percentile(data, threshold_percent)
# trade_over_90 = pivot_ratio_df.applymap(lambda x: 1 if x>=threshold else 0)


# threshold_percent = 80
# threshold = np.percentile(data, threshold_percent)
# trade_over_80 = pivot_ratio_df.applymap(lambda x: 1 if x>=threshold else 0)
# print(data.mean())


# threshold_percent = 75
# threshold = np.percentile(data, threshold_percent)
# trade_over_75 = pivot_ratio_df.applymap(lambda x: 1 if x>=threshold else 0)




# threshold_percent = 25
# threshold = np.percentile(data, threshold_percent)
# trade_under_25 = pivot_ratio_df.applymap(lambda x: 1 if x<threshold else 0)

# threshold_percent = 20
# threshold = np.percentile(data, threshold_percent)
# trade_under_20 = pivot_ratio_df.applymap(lambda x: 1 if x<threshold else 0)


# threshold_percent = 10
# threshold = np.percentile(data, threshold_percent)
# trade_under_10 = pivot_ratio_df.applymap(lambda x: 1 if x<threshold else 0)

In [36]:
# how many partnar countries does each reporting country has?
# plt.hist(trade_over_80.sum(axis=1))
# CCL : about 15-20 most likely. looks like noramlly distributed.

In [37]:
trade_over90.to_csv(os.path.join(root, "constructed_network", "export_over90.csv"))
trade_over80.to_csv(os.path.join(root, "constructed_network", "export_over80.csv"))
# trade_over_75.to_csv(os.path.join(root, "constructed_network", "export_over75.csv"))

# trade_under_25.to_csv(os.path.join(root,"constructed_network",  "export_under25.csv"))
trade_under20.to_csv(os.path.join(root,"constructed_network",  "export_under20.csv"))
trade_under10.to_csv(os.path.join(root,"constructed_network",  "export_under10.csv"))


trans_trade_over90.to_csv(os.path.join(root, "constructed_network", "import_over90.csv"))
trans_trade_over80.to_csv(os.path.join(root, "constructed_network", "import_over80.csv"))
# trade_over_75.to_csv(os.path.join(root, "constructed_network", "export_over75.csv"))

# trade_under_25.to_csv(os.path.join(root,"constructed_network",  "export_under25.csv"))
trans_trade_under20.to_csv(os.path.join(root,"constructed_network",  "import_under20.csv"))
trans_trade_under10.to_csv(os.path.join(root,"constructed_network",  "import_under10.csv"))